<template>
  <div class="col-md-4 mx-auto game">
    <Question :i="i" :x="x" :y="y"
      @answer="questionAnswered"
      :class="{ 'animate__animated animate__shakeX': shake }" v-if="inProgress" />
    <Results :score="score" v-if="!inProgress" @restart="start" />
  </div>
</template>

<script>
import Question from './Question';
import Results from './Results';

export default {
  name: 'Game',
  components: {
    Question,
    Results,
  },
  data() {
    return {
      i: 0,
      x: null,
      y: null,
      shake: false,
      score: 0,
      inProgress: false,
    };
  },
  created() {
    this.start();
  },
  methods: {
    start() {
      this.i = 0;
      this.score = 0;
      this.inProgress = true;
      this.newQuestion();
      setTimeout(() => {
        this.inProgress = false;
      }, 10000);
    },
    questionAnswered(answer) {
      if (answer === (this.x * this.y)) {
        this.score += 1;
        this.newQuestion();
      } else {
        this.shakeAnimation();
      }
    },
    shakeAnimation() {
      this.shake = true;
      setTimeout(() => {
        this.shake = false;
      }, 860);
    },
    newQuestion() {
      this.i += 1;
      this.x = Math.floor(Math.random() * 10) + 1;
      this.y = Math.floor(Math.random() * 10) + 1;
    },
  },
};
</script>

<style scoped>
</style>
