<template>
  <div class="col-md-6 mx-auto home">
    <h1>Multiplication table</h1>
    <p>Answer as many questions as possible in 10 seconds.</p>
    <button class="btn btn-primary" @click="start">Start</button>
  </div>
</template>

<script>
export default {
  name: 'Home',
  methods: {
    start() {
      this.$emit('start');
    },
  },
};
</script>

<style scoped>
</style>
