<template>
  <div class="card md-3 text-center">
    <div class="card-body">
      <h5 class="card-title">Question {{i}}</h5>
      <div class="card-text">
        {{x}} x {{y}} =
        <input type="text" size="2" v-model.number="answer" v-on:keyup.enter="onEnter">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: {
    i: {
      type: Number,
      required: true,
    },
    x: {
      type: Number,
      required: true,
    },
    y: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      answer: null,
      shake: false,
    };
  },
  methods: {
    onEnter() {
      if (this.answer == null) {
        return;
      }

      this.$emit('answer', this.answer);
      this.answer = null;
    },
  },
};
</script>

<style scoped>
.card-text {
  font-size: large;
}
</style>
