<template>
  <div class="results">
    <h1>Time's up!</h1>
    <p>You've answered {{score}} correct questions in 10 seconds.</p>
    <button class="btn btn-primary" @click="restart">Restart</button>
  </div>
</template>

<script>
export default {
  name: 'Results',
  props: {
    score: {
      type: Number,
      required: true,
    },
  },
  methods: {
    restart() {
      this.$emit('restart');
    },
  },
};
</script>

<style scoped>
</style>
