<template>
  <div class="container">
    <div class="row">
      <Home v-show="home" @start="start"></Home>
      <Game v-show="!home"></Game>
    </div>
  </div>
</template>

<script>
import Home from './components/Home';
import Game from './components/Game';

export default {
  name: 'App',
  components: {
    Home,
    Game,
  },
  data() {
    return {
      home: true,
    };
  },
  methods: {
    start() {
      this.home = false;
    },
  },
};
</script>

<style>
.container {
  padding: 3em;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
</style>
